{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="row mt-2">
        <div class="col-3"><img class="img-fluid" src={% static "css/educator/iam.jpg" %}></div>
        <div class="col-6">
            <div class="stylized">
                Если хотите связаться со мной, пожалуйста, заполните форму.

                <form action="{% url 'feedback' %}" method="post" class="mt-2">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary mb-2 mt-2" value="Отправить">
                </form>
            </div>
        </div>
        <div class="col-3">{% include 'aside_menu.html' %}</div>
    </div>
{% endblock %}