{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="row mt-2">
        <div class="col-3"><img class="img-fluid" src={% static "css/educator/iam.jpg" %}></div>
        <div class="col-6">
            {% include 'templatetags/breadcrumbs.html' %}
            <div class="stylized">
                {% if object_list %}
                <div class="tz-gallery">
                    <div class="row">

                        {% for photo in object_list %}
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="{{ photo.image.url }}">
                                    <img src="{{ photo.image.url }}" alt="{{ photo.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <div>Галлерея пока пуста</div>
                {% endif %}
            </div>
        </div>
        <div class="col-3">{% include 'aside_menu.html' %}</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}