{% extends 'base.html' %}
{% load static thumbnail %}

{% block body %}
    <div class="row mt-2">
        <div class="col-9">
            <div class="row">
                <div class="col">
                {% include 'templatetags/breadcrumbs.html' %}</div>
            </div>
            <div class="row">

                <div class="col-4">

                    {% if object.get_cloud_files %}
                        <div class="stylized">
                            <div>Прикрепленные страницы:</div>
                            <div class="list-group mt-2 ">
                                {% for cfile in object.get_cloud_files %}
                                    <a class="list-group-item list-group-item-action " href="{% url 'cloud_files' cfile.slug %}">{{ cfile.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <img class="img-fluid" src={% static "img/iam.jpg" %}>
                    {% endif %}

                </div>
                <div class="col-8">

                    <div class="stylized">
                        {{ object.content | safe }}

                        <div class="tz-gallery">
                            <div class="row">

                                {% for photo in object.get_page_photos %}
                                    <div class="col-sm-6 col-md-4">
                                        <a class="lightbox" href="{{ photo.image|thumbnail_url:'standard' }}">
                                            <img src="{{ photo.image|thumbnail_url:'standard' }}" alt="{{ photo.name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">{% include 'aside_menu.html' %}</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>

{% endblock %}