<div class="aside_menu">

    <div class="aside_menu__item">
        <a href="{% url 'pages' 'o-sebe' %}" class="aside_menu__item__link edhover">О себе</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'news_list' %}" class="aside_menu__item__link edhover">Новости</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'pages' 'dostizheniya-vospitannikov' %}" class="aside_menu__item__link edhover">Достижения воспитанников</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'pages' 'metodicheskie-posobiya' %}" class="aside_menu__item__link edhover">Методические пособия</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'gallery' %}" class="aside_menu__item__link edhover">Фотогалерея</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'pages' 'roditelyam' %}" class="aside_menu__item__link edhover">Родителям</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'pages' 'pedagogam' %}" class="aside_menu__item__link edhover">Педагогам</a>
    </div>
    <div class="aside_menu__item">
        <a href="{% url 'feedback' %}" class="aside_menu__item__link edhover">Обратная связь</a>
    </div>

</div>