<div class="row mt-2">

    <div class="col">
        <div class="header">
            <div class="header__item">

                <div class="header__main_text">
                    Кривоногова Марина Ивановна
                </div>

                <div class="header__small_text">
                    воспитатель детского сада
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="#">Физическое развитие</a>
        </div>
    </div>
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="#">Речевое развитие</a>
        </div>
    </div>
    <div class="col-3">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="#">Социально-коммуникативное развитие</a>
        </div>
    </div>
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="#">Позновательное развитие</a>
        </div>
    </div>
    <div class="col-3">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="#">Художественно-эстетическое развитие</a>
        </div>
    </div>

</div>



