{% load thumbnail static %}
<div class="row mt-2">

    <div class="col">
        <div class="header">
            <div class="header__item">
                    <a class="header__main_text" href="{% url 'main' %}">Кривоногова Марина Ивановна</a>
                <div class="header__small_text">
                    воспитатель детского сада
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="{% url 'pages' 'fizicheskoe-razvitie'%}">Физическое развитие</a>
        </div>
    </div>
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="{% url 'pages' 'rechevoe-razvitie'%}">Речевое развитие</a>
        </div>
    </div>
    <div class="col-3">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="{% url 'pages' 'socialno-kommunikativnoe-razvitie'%}">Социально-коммуникативное развитие</a>
        </div>
    </div>
    <div class="col-2">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="{% url 'pages' 'poznavatelno-razvitie'%}">Познавательное развитие</a>
        </div>
    </div>
    <div class="col-3">
        <div class="header__menu__item">
            <a class="header__menu__item__link edhover" href="{% url 'pages' 'hudozhestvenno-esteticheskoe-razvitie'%}">Художественно-эстетическое развитие</a>
        </div>
    </div>

</div>



