{% load static %}

{#<link rel="stylesheet" href="{% static "educator/base.css" %}">#}
{#<link rel="stylesheet" href="{% static "educator/bem-elements/menu/menu.desktop.css" %}">#}
{#<link rel="stylesheet" href="{% static "educator/bem-elements/header/header.desktop.css" %}">#}
{#<link rel="stylesheet" href="{% static "scss/bootstrap.css" %}">#}
<link rel="stylesheet" href="{% static "css/application.css" %}">
<link rel="stylesheet" href="{% static 'css/bem-elements/gallery/gallery-grid.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
{#<link rel="stylesheet" href="{% static "news/news_importer.css" %}">#}
