{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="row mt-2">
        <div class="col-3">
            <img class="img-fluid" src={% static "css/educator/iam.jpg" %}>
        </div>
        <div class="col-6">
            {% include 'templatetags/breadcrumbs.html' %}
            <div class="stylized">

                <div>{{ object.title }}</div>
                <div>{{ object.created_at }}</div>
                <div>{{ object.text| safe }}</div>
            </div>

        </div>
        <div class="col-3">
            {% include 'aside_menu.html' %}
        </div>
    </div>
{% endblock %}